body, html, header, nav, ul, li, 
section, footer, div, h1, h2, h3, article,
figure, img, p, h4, a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Amiri", serif;
}
body {
    background-color: #f2f5f9;
}
h1 {
  font-family: "Cinzel Decorative", cursive;
}
h2, h3, h4 {
  font-family: "Amiri", serif;
  margin-top: 1.25rem;
  margin-bottom: 0.625rem;
}
header {
  background-color: #263a4d;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.nav {
  margin: 0.625rem 2rem 0.625rem 2.5rem;
  list-style-type: none;
  text-align: right;
  background-color: transparent;
  text-transform: uppercase;
  height: 1.5rem;
}
.nav li {
  display: inline-block;
  font-size: 100%;
  opacity: 0.8;
  height: 1.5rem;
  width: 8rem;
}
.nav a {
  color: #d7e0ed;
  text-decoration: none;
  height: 1.5rem;
}
.nav a:hover {
  color: #ffe8a4;
}
.nav a:hover svg path {
  fill: #ffe8a4;
}
.helm, .boat, .bottle {
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(2px);
}
.helm path, .boat path,
.bottle path {
  fill: #d7e0ed;
}
.cover {
  position: relative;
	width: 100%;
	height: 37rem;
  overflow: auto;
	border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	background: #263a4d;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cover h1 {
  font-size: 2.5rem;
  margin-top: 9.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 2.5px 2px 2px #ffc107;
}
.cloud svg:first-child {
  position: absolute;
  top: 30%;
  left: 22%;
  fill: #ffffff;
  -webkit-animation: cloud-transit infinite alternate ease-in-out 6s;
          animation: cloud-transit infinite alternate ease-in-out 6s;
}
.cloud svg:last-child {
  position: absolute;
  top: 23%;
  left: 72%;
  fill: #FFFFFF;
  -webkit-animation: cloud-transit infinite alternate ease-in-out 6s;
          animation: cloud-transit infinite alternate ease-in-out 6s;
}
@-webkit-keyframes cloud-transit {
  from {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
}
@keyframes cloud-transit {
  from {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  to {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
}
.dolphine svg {
  position: absolute;
  max-width: 7rem;
  max-height: 7rem;
  fill: #FFFFFF;
}
#dolphine1 {
  top: 80%;
  left: 10%;
  animation: salta1 11s linear infinite;
  -webkit-animation: salta1 11s linear infinite;
}
@-webkit-keyframes salta1 {
  0% {
  top: 80%;
  left: 13%;
  -webkit-transform: rotate(-33deg);
  transform: rotate(-33deg); }
  25% {
  top: 71%;
  left: 16%;
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg); }
  50% {
  top: 64%;
  left: 19%;
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg); }
  75% {
  top: 71%;
  left: 22%;
  -webkit-transform: rotate(53deg);
  transform: rotate(53deg); }
  100% {
  top: 80%;
  left: 25%;
  -webkit-transform: rotate(73deg);
  transform: rotate(73deg); }
}
@keyframes salta1 {
  0% {
  top: 80%;
  left: 13%;
  -webkit-transform: rotate(-33deg);
  transform: rotate(-33deg); }
  25% {
  top: 71%;
  left: 16%;
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg); }
  50% {
  top: 64%;
  left: 19%;
  -webkit-transform: rotate(33deg);
  transform: rotate(33deg); }
  75% {
  top: 71%;
  left: 22%;
  -webkit-transform: rotate(53deg);
  transform: rotate(53deg); }
  100% {
  top: 80%;
  left: 25%;
  -webkit-transform: rotate(73deg);
  transform: rotate(73deg); }
}
#dolphine2 {
  transform: rotateX(180deg);
  top: 90%;
  left: 70%;
  animation: salta2 7s linear infinite;
  -webkit-animation: salta2 7s linear infinite;
}
@-webkit-keyframes salta2 {
  0% {
  top: 90%;
  left: 70%;
  -webkit-transform: rotate(-23deg);
  transform: rotate(-23deg); }
  25% {
  top: 81%;
  left: 73%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg); }
  50% {
  top: 74%;
  left: 76%;
  -webkit-transform: rotate(17deg);
  transform: rotate(17deg); }
  75% {
  top: 81%;
  left: 79%;
  -webkit-transform: rotate(37deg);
  transform: rotate(37deg); }
  100% {
  top: 90%;
  left: 82%;
  -webkit-transform: rotate(57deg);
  transform: rotate(57deg); }
}
@keyframes salta2 {
  0% {
  top: 90%;
  left: 70%;
  -webkit-transform: rotate(-23deg);
  transform: rotate(-23deg); }
  25% {
  top: 81%;
  left: 73%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg); }
  50% {
  top: 74%;
  left: 76%;
  -webkit-transform: rotate(17deg);
  transform: rotate(17deg); }
  75% {
  top: 81%;
  left: 79%;
  -webkit-transform: rotate(37deg);
  transform: rotate(37deg); }
  100% {
  top: 90%;
  left: 82%;
  -webkit-transform: rotate(57deg);
  transform: rotate(57deg); }
}
.wave {
	position: absolute;
	height: 18.875rem;
	width: 110%;
	left: -3.125rem;
	background: #ffffff;
	white-space: nowrap;
}
.wave .circle {
	position: relative;
	display: inline-block;
	width: 3.125rem;
	height: 3.125rem;
	top: -1.5rem;
	border-radius: 3.125rem;
}
.wave .circle:nth-child(2n+2) {
	top: -1.625rem;
  height: 1.5625em;
  width: 3.125rem;
  border-radius: 0 0 3.125rem 3.125rem;
  -moz-border-radius: 0 0 3.125rem 3.125rem;
  -webkit-border-radius: 0 0 3.125rem 3.125rem;
}
.wave-back {
	top: 26.5625rem;
	background: #406384;
	-webkit-animation: wave-back 4s ease-in-out alternate infinite;
  		animation: wave-back 4s ease-in-out alternate infinite;
}
@-webkit-keyframes wave-back {
  from {
    -webkit-transform: translate3d(-1.25rem, 0, 0);
            transform: translate3d(-1.25rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(1.25rem, 0, 0);
            transform: translate3d(1.25rem, 0, 0);
  }
}
@keyframes wave-back {
  from {
    -webkit-transform: translate3d(-1.25rem, 0, 0);
            transform: translate3d(-1.25rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(1.25rem, 0, 0);
            transform: translate3d(1.25rem, 0, 0);
  }
}
.wave-back .circle {
	background: #406384;
}
.wave-back .circle:nth-child(2n+2) {
	background: #263d4d;
}
.wave-middle {
	top: 30rem;
	background: #5d90bf;
	-webkit-animation: wave-middle 4s ease-in-out alternate infinite;
	        animation: wave-middle 4s ease-in-out alternate infinite;
}
@-webkit-keyframes wave-middle {
  from {
    -webkit-transform: translate3d(0.625rem, 0, 0);
            transform: translate3d(0.625rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-0.625rem, 0, 0);
            transform: translate3d(-0.625rem, 0, 0);
  }
}
@keyframes wave-middle {
  from {
    -webkit-transform: translate3d(0.625rem, 0, 0);
            transform: translate3d(0.625rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-0.625rem, 0, 0);
            transform: translate3d(-0.625rem, 0, 0);
  }
}
.wave-middle .circle {
	background: #5d90bf;
}
.wave-middle .circle:nth-child(2n+2) {
	background: #406384;
}
.wave-front {
	top: 33.4375rem;
	background: #7eb3e6;
	-webkit-animation: wave-front 4s ease-in-out alternate infinite;
	        animation: wave-front 4s ease-in-out alternate infinite;
}
@-webkit-keyframes wave-front {
  from {
    -webkit-transform: translate3d(-3.125rem, 0, 0);
            transform: translate3d(-3.125rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(3.125rem, 0, 0);
            transform: translate3d(3.125rem, 0, 0);
  }
}
@keyframes wave-front {
  from {
    -webkit-transform: translate3d(-3.125rem, 0, 0);
            transform: translate3d(-3.125rem, 0, 0);
  }
  to {
    -webkit-transform: translate3d(3.125rem, 0, 0);
            transform: translate3d(3.125rem, 0, 0);
  }
}

.wave-front .circle {
	background: #7eb3e6;
}
.wave-front .circle:nth-child(2n+2) {
	background: #5d90bf;
}
/*.boat {
	animation: rock-boat 3s ease-in-out infinite;
	-webkit-animation: rock-boat 3s ease-in-out infinite;
	margin-top: 9.75rem;
	text-align: center;
}
@-webkit-keyframes rock-boat {
  50%  { -webkit-transform: rotate(-5deg) translateY(-1rem); }
}
@keyframes rock-boat {
    50% { transform: rotate(-5deg) translateY(-1rem); }
}*/
.anchor {
  animation: bounce 4s infinite ease-in-out;
  -webkit-animation: bounce 4s infinite ease-in-out;
  margin-top: 2rem;
  margin-left: 1.5rem;
  text-align: center;
}
@-webkit-keyframes bounce {
  0%, 50%, 100%  { -webkit-transform: translateY(0); }
  50%  { -webkit-transform: translateY(-1rem); }
}
@keyframes bounce {
  0%, 50%, 100%  { -webkit-transform: translateY(0); }
  50%  { -webkit-transform: translateY(-1rem); }
}
#topbar {
  height: 1px;
  background: #1d2c3c; top: 0em;
  border-bottom: 1px solid darkblue;
  z-index: 999;
}
.section-header {
  display: flex;
  flex-direction: row;
  padding: 3rem 0 0 0;
}
#about {
  padding-top: 2rem;
}
#about h2, #projects h2, #contact h2 {
  padding: 0 1rem 0 2rem;
}
h2, .my-icon {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+31,066dab+100;Web+2.0+Blue+3D+%231 */
  background: #c5deea; /* Old browsers */
  background: -webkit-linear-gradient(rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
  background: -o-linear-gradient(rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%);
  background: linear-gradient(rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
}
h2 {
  font-family: "Amiri", serif;
  font-size: 150%;
  margin: auto 0 auto -1.4rem;
  padding: 0 0.2rem 0 1.5rem;
  border-radius: 1.2rem;
  background-color: #1565c0;
  color: #ffffff;
}
.my-icon {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 3.3rem;
  background-color: #1565c0;
}
.section-helm, .section-boat,
.section-bottle {
  width: 2rem;
  height: 2rem;
  fill: #ffffff;
}
#about, #projects, #contact {
  max-width: 58.75rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
#about article:first-of-type figure {
  max-width: 10rem;
  margin: 0 auto;
}
#about article:first-of-type img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}
h3 {
  text-align: center;
  color: #436595;
  font-size: 1.7rem;
}
p {
  font-size: 1.2rem;
  color: #2b405f;
}
#about article:first-of-type {
  max-width: 28.75rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#about article:first-of-type p {
  text-align: center;
}
.line {
  text-align: center;
  width: 100%;
}
.line img {
  max-width: 0.75rem;
  max-height: 0.75rem;
}
.what-i-can {
  margin-top: 3rem;
}
h4 {
  color: #5d90bf;
  font-size: 1.5rem;
  text-align: center;
}
.i-was {
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: row;
}
.i-was figure {
  width: 50%;
  text-align: center;
}
.i-was div {
  padding: 0 1rem 0 0.5rem;
  width: 50%;
  text-align: justify;
}
.i-was img {
  max-width: 20rem;
  max-height: 15rem;
}
.i-am-now {
  display: flex;
  flex-direction: row;
}
.i-am-now figure {
  width: 50%;
  text-align: center;
}
.i-am-now img {
  max-width: 20rem;
  max-height: 15rem;
}
.i-am-now div {
  width: 50%;
  padding: 0 0.5rem 0 1rem;
  text-align: justify;
}
#projects ul {
  margin-top: 1.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#projects li {
  margin: 0.5rem;
  width: 45%;
}
#projects li a {
  height: 17.5625rem;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  position: relative;
  padding: 7rem 1.125rem 3.5rem;
}
#projects li a:hover {
  background-color: #7eb3e6;
}
#projects li a:hover h3 {
  color: #ffffff;
}
#projects li a:hover p {
  color: #ffffff;
}
#projects li a:hover svg {
  fill: #ffffff;
}
#projects li h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  text-align: left;
  margin: 0;
}
#projects li svg {
  position: absolute;
  top: 1.25rem;
  text-align: left;
  width: 4rem;
  height: 4rem;
  fill: #5d90bf;
}
#contact {
  margin-bottom: 5rem;
}
#contact article {
  margin-top: 3rem;
}
#contact p {
  text-align: center;
}
.btn-hldr {
  text-align: center;
}
.btn-hldr .main-btn {
  font-size: 1.1rem;
  text-align: center;
  display: inline-block;
  position: relative;
  background: #5d90bf;
  padding: .75rem 2rem .75rem 3.5rem;
  color: #f2f5f9;
  text-decoration: none;
  margin: 2.5rem 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: 400;
  border: 0;
  text-transform: uppercase;
}
.btn-hldr .main-btn:hover {
  background: #4a7398;
  border: 0;
}
.btn-hldr .main-btn .email {
  position: absolute;
  height: 1.4rem;
  width: 1.7rem;
  left: 11%;
  top: 33%;
  transform: translateY(-0.22rem);
}
footer {
  text-align: center;
  background: #263a4d;
}
.link-me {
  height: 3.5rem;
  margin: 3rem 0 2rem 0;
  white-space: nowrap;
}
.link-me a {
  height: 3.5rem;
  display: inline-block;
  margin: 0 4rem 0 4rem;
  text-decoration: none;
  color: #cdddeb;
}
svg.icon {
  fill: #cdddeb;
  height: 3.5rem;
  width: 3.5rem;
}
footer p {
  color: #cdddeb;
}
footer p svg {
  transform: translateY(0.2rem);
  fill: #cdddeb;
  height: 1.2rem;
  width: 1.2rem;
}
.icon-flaticon {
  color: #4073a1;
  font-family: "Times New Roman", sans-serif;
}
.icon-flaticon a {
  color: #87add0;
}
@media only screen and (max-width: 960px), screen and (max-device-width: 960px) {
  .nav li {
    width: 10rem;
  }
  .nav a {
    font-size: 130%;
  }
  .cover {
    height: 34rem;
  }
  .cover h1 {
    margin-top: 6.5rem;
  }
  .wave-back {
    top: 23.5625rem;
  }
  .wave-middle {
    top: 27rem;
  }
  .wave-front {
    top: 30.4374rem;
  }
  .section-helm, .section-boat,
  .section-bottle {
    width: 3rem;
    height: 3rem;
``}
  .my-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
  }
  h2 {
    font-size: 200%;
    margin: auto 0 auto -2.4rem;
    padding: 0 0.2rem 0 2.5rem;
    border-radius: 1.7rem;
  }
  #about h2, #projects h2, #contact h2 {
    padding: 0 1rem 0 3rem;
  }
  #about, #projects, #contact {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  #projects li {
    margin: 0 auto;
    width: 90%;
    margin: 1rem auto;
  }
  #projects li a h3 {
    font-size: 2rem;
  }
  #projects li a p {
    font-size: 1.8rem;
  }
  .i-was {
    margin: 2rem 0 3rem;
    display: block;
  }
  .i-was figure {
    width: 100%;
    text-align: center;
  }
  .i-was div {
    padding: 0 1rem;
    width: 100%;
    text-align: justify;
  }
  .i-was img {
    max-width: 20rem;
    max-height: 15rem;
  }
  .i-am-now {
    display: block;
  }
  .i-am-now figure {
    width: 100%;
    text-align: center;
  }
  .i-am-now img {
    max-width: 20rem;
    max-height: 15rem;
  }
  .i-am-now div {
    width: 100%;
    padding: 0 1rem;
    text-align: justify;
  }
}
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
#about article:first-of-type {
  max-width: inherit;
}
#about article:first-of-type p {
  text-align: inherit;
}
  .btn-hldr .main-btn {
    display: block;
  }
  .btn-hldr .main-btn .email {
    height: 2.4rem;
    width: 2.7rem;
    left: 25%;
  }
  .icon-flaticon {
    margin: 0 5rem;
  }
}

